.card {
  width: 22vw;
  height: 25vh;
  min-width: 300px;

  background-color: #96ceb4;

  position: absolute;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-index {
  position: absolute;
  left: -30px;
  top: -30px;

  background-color: #ffcc5c;
  width: 60px;
  height: 60px;
  border-radius: 900px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
}

.card p {
  font-family: "Poppins", sans-serif;
}

.card .card-title {
  font-size: 1.4em;
  display: inline-block;
  position: relative;
}

.card .card-title::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #202020;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card:hover .card-title::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card .card-text {
  font-size: 1em;
  width: 90%;
  text-align: center;
  position: relative;
  bottom: 10%;
}

.card div {
  font-weight: 900;
  font-size: 1.3em;
}

/* media queries */
@media (width <= 500px) {
  .card {
    position: relative;
    left: 10em;
    top: 250px;
  }
}

@media (width < 960px) and (width >= 715px) {
  .card {
    position: relative;
    transform: none;
    width: 300px;
    min-width: 100px;
  }
}

@media (width < 715px) and (width > 500px) {
  .card {
    position: relative;
    transform: none;
    width: 220px;
    height: 200px;
    min-width: 100px;
  }

  .card .card-title {
    font-size: 1.2em;
  }
}
